* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.starcanvas {
  height: 200vh;
  width: 100%;
  z-index: 600;
}

.box2border {
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}
.box2border2 {
  background-color: rgb(21 16 48 / var(--tw-bg-opacity));
}

.bgColor {
  background-color: rgb(21 16 48 / var(--tw-bg-opacity));
}

/*  */

.modelCanvas {
  z-index: 10;
  position: absolute;
}
